{% extends "L3EConsolidadosBundle::layout.html.twig" %}
{% block body %}
<ul>
{% for colegio in colegios %}
    <li><a href="{{ path('listar_cursos_colegio') }}?coleidn={{ colegio.coleidn }}">{{ colegio.colecoddanen }} - {{ colegio.coledescripv }}</a></li>
{% endfor %}
</ul>
{% endblock %}
